.custom-block {
  border-radius: 24px;

  p.custom-block-title {
    margin: 0 !important;
    font-size: 18px;
  }

  code {
    padding: 3px 6px;
    background-color: rgb(var(--v-theme-MDYBackground));
    border-radius: 20px;
  }

  &.info {
    background-color: rgb(var(--v-theme-MDYBackground));
  }
}
