---
import HomeApp from "@/components/home/home-app";
import { m } from "@/paraglide/messages.js";
import "@/styles/tailwind.css";
---

<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content={m.home_meta_description(undefined, {
        locale: "zh-cn",
      })}
    />
    <title>Clash Nyanpasu</title>
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body class="m-0 min-w-80 bg-zinc-50 font-sans dark:bg-zinc-950">
    <HomeApp locale="zh-cn" client:load />
  </body>
</html>
